.bathroom-card{
  margin: 0 0 16px 0 !important;
  .row{
    margin: 0
  }
  .bathroom-card-main{
    display: flex;
    .bathroom-card-head{
      margin: auto;
    }

    .bathroom-card-rating{
      position: absolute;
      top: 6px;
      left: 22px;
      background-color: rgba(255, 255, 255, 0.45);
      color: #F52E09;
      max-width: 100%;
      margin: 6px;
    }
    .bathroom-card-content{
      padding: 10px;
      border-radius: 0 0 2px 2px;
      .content-price{
        position: absolute;
        right: 14px;
        top: 14px;
      }
      .content-icons{
        display: flex;

        .content-icon{
          margin-right: 10px;
          color: #78909c;

          &:hover{
            cursor: pointer;
          }
        }
      }
      p, ul{
        margin-block-start: 4px;
        margin-block-end: 4px;
      }
      label:hover{
        cursor: pointer;
        border-bottom: 1px solid;
        border-color: inherit;
      }
    }
  }
  .bathroom-card-additional{
    max-height: 0px;
    position: relative;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    font-size: .8rem;
    color: #9e9e9e;
    .row{
      .col{
        padding: 0;
      }
    }
    ul{
      margin: 0 0 6px 6px;
      .topic{
        margin-left: -6px;
        font-weight: 500;
        color: #6c6b6b;
      }
    }
  }
  .bathroom-card-additional_open{
    max-height: 200px;
  }
}

