#root{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  //background-color: #a1c4e2;
}

main.container {
  flex: 1 0 auto;
  min-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}